<div class="row">
	<div class="col-md-4 col-md-offset-4 well">
		<h4>Logowanie</h4>
		<form ng-submit="login()">
			<p>
				<input type="email" ng-model="email" class="form-control" id="email" placeholder="Adres e-mail">
			</p>
			<p>
				<input type="password" ng-model="password" class="form-control" id="email" placeholder="Hasło">
			</p>
			<p>
				<button class="btn btn-success">Zaloguj</button>
				<span class="pull-right"><a href="#/register" class="btn">rejestracja</a></span>
			</p>
		</form>
	</div>
</div>
