<div class="row">
	<div class="col-md-4 col-md-offset-4 well">
		<h4>Rejestracja</h4>
		<form ng-submit="register()">
			<p>
				<input type="email" ng-model="email" class="form-control" id="email" placeholder="Adres e-mail">
			</p>
			<p>
				<input type="password" ng-model="password" class="form-control" id="email" placeholder="Hasło">
			</p>
			<p>
				<button class="btn btn-success">Zarejestruj</button>
				<span class="pull-right"><a href="#/login" class="btn">logowanie</a></span>
			</p>
		</form>
	</div>
</div>
